*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.7em;

}
a{
    color: white;
    text-decoration: none;
}


.main{
    display: flex;
    flex-wrap: wrap;
    margin: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

button {
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: rgba(45, 247, 17, 255);
    height: 60px;
    width: 200px;
    margin-top: 5%;
  }
  button:hover {
    cursor: pointer;
    background-color: lightgreen;
    transition: 0.3s all;
  }

  